.cart-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 55px;
  
}
Img{
  padding: 10px 85px;
}
.cart-container{
  width: auto;
  height: auto;
  
}
.cart-value{
  display: flex;
  justify-content: end;
  font-size: larger;
  background:#6c134c;
  padding: 20px;
  
}
.fa-shopping-cart{
  margin-right: 5px;
  color:black;
}

.box{
  display: flex;
  transition: 0.5s;

}
.box:hover{
  transform: scale(1.1);
}
body{
  background:#98156a;
}
#root{
  background-color:#917FB3 ;
}
h2{
  font-family: 'Kalam', cursive;
  font-family: 'Saira Condensed', sans-serif;
  padding-top: 10px;
}
.card-body{
  font-family: 'Kalam', cursive;
  font-family: 'Saira Condensed', sans-serif;
  font-size: larger;
  color: aliceblue;
}
.card-title{
  color:black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
